.nav-link {
    color: #333; /* Default color */
    transition: color 0.3s ease; /* Smooth transition */
}

.nav-link svg {
    fill: #333; /* Default icon color */
    transition: fill 0.3s ease; /* Smooth transition for icon */
}

.nav-link:hover {
    color: #d71e29; /* Hover color for text */
}

.nav-link:hover svg {
    fill: #d71e29; /* Hover color for icon */
}

/* Active link styling */
.nav-link.active {
    color: #d71e29; /* Active link color */
    font-weight: bold;
}

.nav-link.active svg {
    fill: #d71e29; /* Active icon color */
}
